.ant-card-head-wrapper{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}
.ant-card{
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
}
.screen{
    color: #f4c539;
    border-top: 10px solid;
    width: 60%
}