.carousel {
    .carousel-indicators {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10px;
        li {
          width: 18px !important;
          height: 18px !important;
          background-color: #fff;
          border-radius: 50%;
          cursor: pointer;
          transition: background-color 0.3s;
          &:hover {
            background-color: #c0bfbf;
          }
        }
      }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 50px;
        height: 50px;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 5%;
    }
}

  
.carousel-item .imgbanner {
    height: 622px;
  }
  
  @media (max-width: 1200px) {
    .carousel-item {
      .imgbanner {
        height: 620px;
      }
    }
  }
  
  @media (max-width: 991px) {
    .carousel-item {
      .imgbanner {
        height: 420px;
      }
    }
  }
  
  @media (max-width: 767px) {
    .carousel-item {
      .imgbanner {
        height: 350px;
      }
    }
  }
  
  @media (max-width: 575px) {
    .carousel-item {
      .imgbanner {
        height: 200px;
      }
    }
  }
  